.container
  .row
    .col-sm-12
      h1 Login
      p
        | Accounts are reset on server restart from
        code server/config/seed.js
        | . Default account is
        code test@example.com
        |  /
        code test
      p
        | Admin account is
        code admin@example.com
        |  /
        code admin
    .col-sm-12
      form.form(name='loginForm', (ngsubmit)='login()', novalidate='', #loginform='ngForm')
        .form-group
          label Email
          input.form-control(type='email', name='email', [(ngModel)]='user.email', required='', #email='ngModel')
        .form-group
          label Password
          input.form-control(type='password', name='password', [(ngModel)]='user.password', required='', #password='ngModel')
        .form-group.has-error
          p.help-block([hidden]='(email.value && password.value) || !loginForm.submitted')
            | Please enter your email and password.
          p.help-block([hidden]='email.valid || (email.pristine && !loginForm.submitted)')
            | Please enter a valid email.
          p.help-block {{ errors.login }}
        div
          button.btn.btn-inverse.btn-lg.btn-login(type='submit', [disabled]='!loginForm.form.valid')
            | Login
          a.btn.btn-default.btn-lg.btn-register(ui-sref='signup')
            | Register
        hr
        .row
          .col-sm-4.col-md-3
            oauth-buttons(classes='btn-block')
  hr
