a.btn-block((click)="loginOauth('facebook')")
  i.fa.fa-facebook
  |   Connect with Facebook
a.btn-block((click)="loginOauth('google')")
  i.fa.fa-google-plus
  |   Connect with Google+
a.btn-block((click)="loginOauth('twitter')")
  i.fa.fa-twitter
  |   Connect with Twitter
